<html>
  <h1>My cool web-server</h1>
  <img src="https://s3.twcstorage.ru/63322633-dima-2025/myimage.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&X-Amz-Credential=ZV4LLXAHA5KPRKXC0CYS%2F20251114%2Fru-1%2Fs3%2Faws4_request&X-Amz-Date=20251114T071243Z&X-Amz-Expires=3900&X-Amz-Signature=c8e345de63e8f2f48df00a63a5ebfdc57df5f8eb253b962960f83383b55f2710&X-Amz-SignedHeaders=host&response-content-type=image%2Fjpeg&x-id=GetObject">
</html>
